
<div id="top" class="container">

	<div class="row">

	    <div class="hidden-xs col-md-2">
	    	<div ng-controller="SidebarCtrl">
	    		<%= render 'home/sidebar' %>
	    	</div>
	    </div>

	    <div class="col-md-10">
	    	<div ng-controller="StaffAllCtrl">
	    		<div class="row">
					<h2>社員一覧</h2>
				</div>

				<div class="row">
					<input ng-model="query" class="col-xs-12 col-md-3" placeholder="社員を検索できます">
				</div>

				<hr>

				<%= render 'home/staffSummary' %>

				<%= render 'home/googlemap' %>

				<%= render 'home/show' %>

				<%= render 'home/update' %>

				<%= render 'home/loanCompanyRegist' %>
	    	</div>

	    	<!-- end of ng-controller="StaffAllCtrl" -->

	    	<hr>

	    	<div class="col-md-12" ng-controller="CalendarCtrl">

				<div id="calendar" class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" style="width:auto;">
				</div>

				<%= render 'home/eventCreate' %>

				<%= render 'home/eventUpdate' %>

				<%= render 'home/eventRegist' %>
		    </div>

		    <!-- end of ng-controller="CalendarCtrl" -->

		    <hr><br>

		</div>

		<!-- end of main -->

	</div>

</div>




